/* Все экраны скрыты по умолчанию */
.screen {
  display: none;
  width: 100%;
  min-height: calc(100vh - var(--top-space-height) - 22px);
  box-sizing: border-box;
  z-index: 1;
}

/* Класс для активного экрана */
.screen.active {
  display: block;
}

.video-layer video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.video-layer {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: min(100vw, 700px);
  height: 100vh;
  overflow: hidden;
}

.video-gradient {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50%;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(32, 34, 35, 0) 0%,
    rgba(32, 34, 35, 0.14) 25.8%,
    rgba(32, 34, 35, 0.45) 45.64%,
    rgba(32, 34, 35, 0.9) 100%
  );
  mix-blend-mode: multiply;
  pointer-events: none;
}

.photo-layer img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.photo-layer {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: min(100vw, 700px);
  height: 100vh;
  overflow: hidden;
  z-index: 1;
}

/* .Main-process {
  width: 100%;
  display: flex;
  width: 100%;
  padding: 0 8px;
  flex-direction: column;
  gap: var(--gap-L);
  z-index: 2;
} */

.Main-process {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  align-self: stretch;
  z-index: 2;
}

.Main-process.scr-10 {
  /* padding-top: 40px; */
  gap: 60px;
}

.top-space {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  height: var(--top-space-h);
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
  z-index: 1000;
}

.M_ProgressHeader {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
}

.W_Progress {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

.bottom-space {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 404px;
  gap: 16px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 500;
}

.Main-container {
  display: flex;
  margin: 0 auto;
  padding-top: 24px;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-L); /* 32px */
}
.Main-container-S {
  width: 350px;
}

/* для прогресс-баров внутри фоток на экранах 10 и тд*/
.Main-container-M {
  width: 100%;
  max-width: 600px;
  min-height: calc(100vh - var(--top-space-height) - 22px);
  /* padding-top: 60px; */
  padding-top: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Main-container-L {
  width: 516px;
}

.M_Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-XS); /* 8px */
  align-self: stretch;
}

.A_Header {
  color: var(--white);
  text-align: center;
}
.A_Subtitle {
  color: var(--text-2, #808080);
  text-align: center;
}

.M_CardAndLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-S); /* 12px */
  flex: 1 0 0;
  cursor: pointer;
}
.A_Card {
  border-radius: var(--border-radius);
  background: var(--text-2);
  align-self: stretch;
  transition:
    border-color 0.25s ease,
    box-shadow 0.25s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.A_CardVideo {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.A_Card--active {
  border: 2px solid var(--purple);
  box-shadow: 0 0 26px 0 rgba(174, 82, 231, 0.5);
}

.A_Card.A_Card--photo {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.C_Cards .A_Card {
  height: clamp(280px, 43.13vh, 437px);
}

.G_Cards .A_Card {
  height: clamp(226px, 23.7vh, 300px);
}

.C_Cards {
  display: flex;
  align-items: center;
  gap: var(--gap-M); /* 16px */
  align-self: stretch;
}
.G_Cards {
  display: inline-grid;
  row-gap: 20px;
  column-gap: var(--gap-M); /* 16px */
  align-self: stretch;
  grid-template-rows: repeat(2, fit-content(100%));
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.A_top-pop-up {
  display: inline-flex;
  width: max-content;
  /* position: absolute;
  top: 5vh;
  left: 50%;
  transform: translateX(-50%); */
  padding: 7px 20px 9px 16px;
  align-items: flex-start;
  gap: 7px;
  border-radius: 100px;
  background: var(--bg-color);
  box-shadow: 0 0 6px 0 rgba(245, 245, 245, 0.25);
}
.icon {
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
}
.A_top-pop-up .description {
  display: flex;
  height: 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.progress-bar-wrap {
  flex: 1;
  position: relative;
  height: 8px;
  background: #303132;
  border-radius: 100px;
  overflow: visible;
}

.progress-bar-fill {
  height: 100%;
  background: var(--purple);
  border-radius: 100px;
  transition: width 0.4s ease;
}

.A_StatusIcon {
  position: absolute;
  top: 50%;
  width: 20px;
  height: 23px;
  transform: translate(-50%, -50%);
  background-image: url("src/img/I_Status.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  pointer-events: none;
  z-index: 2;
}

.A_ArrowButton {
  position: relative;
  width: 34px;
  height: 34px;
  /* border: 1px solid #5f5f73; */
  border-radius: var(--border-radius-top);
  background: #202223;
  cursor: pointer;
  flex-shrink: 0;
}

.A_ArrowButton::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 53%;
  width: 8px;
  height: 8px;
  border-left: 2px solid #f5f5f5;
  border-bottom: 2px solid #f5f5f5;
  transform: translate(-50%, -50%) rotate(45deg);
}

.A_ArrowButton:hover {
  border-color: #ae52e7;
}

.A_Avatar {
  width: 34px;
  height: 34px;
  border: 2px solid #ae52e7;
  border-radius: var(--border-radius-top);
  background-image: url("src/img/real_ethnicity_caucasian.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-shrink: 0;
}

/* ICONS */
.icons {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.I_Lock {
  width: 20px;
  height: 20px;
  background-image: url("src/img/I_Lock.svg");
}

.I_Aprove {
  width: 20px;
  height: 20px;
  background-image: url("src/img/I_Aprove.svg");
}

.I_Progress {
  fill: #00e39c;
  width: 14px;
}

.A_PlayVoiceButton {
  display: flex;
  width: 38px;
  height: 38px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 50px;
  background: #434546;
  /* у иконки не получится менять цвет при наведении */
  background-image: url("src/img/I_Play.svg");
  background-repeat: no-repeat;
  background-position: calc(50% + 1px) center;
}
.A_PlayVoiceButton:hover {
  transform: scale(1.12);
  transition: transform 0.2s ease;
}

.M_LongCard {
  display: flex;
  width: 100%;
  /* интересно, лучше делать высоту через паддинги или так? */
  height: 70px;
  padding: 0 26px;
  align-items: center;
  cursor: pointer;

  border-radius: 18px;
  /* border: 1px solid #434343; */
  background: #262a2b;
  transition:
    border-color 0.25s ease,
    box-shadow 0.25s ease;
}

.C_LongCards {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  width: 100%;
}

.M_LongCard--voice {
  justify-content: space-between;
}

.M_LongCard--straight {
  gap: 20px;
}

.M_LongCard--selected {
  border: 2px solid var(--purple);
  box-shadow: 0 0 26px 0 rgba(174, 82, 231, 0.5);
}

.A_Button {
  display: flex;
  width: 404px;
  height: 60px;
  padding: 7px 20px 10px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: linear-gradient(168deg, #f899ff 6.19%, #ae52e7 84.27%);
}

.bottom-space button.subtitle {
  background: transparent;
  color: var(--text-2);
}

.C_ProgressBars {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* затухание экрана после выбора любой из карточек*/
.screen-fade-out {
  animation: fadeOut 0.4s ease forwards;
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.M_ProgressBar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  opacity: 1;
  transform: translateY(0);
  transition:
    opacity 0.24s ease,
    transform 0.24s ease;
}

#screen-10 .M_ProgressBar--hidden {
  opacity: 0;
  transform: translateY(12px);
  pointer-events: none;
}

.M_ProgressBar_Text {
  display: flex;
  padding: 0 4px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.A_ProgressBar {
  height: 9px;
  width: 0;
  align-self: stretch;
  border-radius: 50px;
  background: var(--purple);
}

.I_Progress--loading {
  animation: spinProgressIcon 0.9s linear infinite;
  transform-origin: center;
}

@keyframes spinProgressIcon {
  to {
    transform: rotate(360deg);
  }
}

.O_ReviewWithHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  align-self: stretch;
}
.M_Review {
  display: flex;
  width: 234px;
  padding: 12px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 16px;
  border: 1px solid var(--text-2, #808080);
  background: #2e2f32;
}

.M_ReviewSlider {
  position: relative;
  width: 234px;
  min-height: 148px;
  overflow: hidden;
}

.M_ReviewSlider .M_Review {
  position: absolute;
  inset: 0;
  width: 100%;
  transition:
    transform 0.34s ease,
    opacity 0.34s ease;
  will-change: transform, opacity;
}

.M_Review--active {
  transform: translateX(0);
  opacity: 1;
  z-index: 2;
}

.M_Review--enter {
  transform: translateX(105%);
  opacity: 0.75;
  z-index: 1;
}

.M_Review--exit-left {
  transform: translateX(-105%);
  opacity: 0;
}

.C_Stars {
  display: flex;
  align-items: center;
  gap: 6px;
}

.M_Card {
  display: flex;
  width: 458px;
  padding: 20px 40px 30px 40px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background: #2f3037;
}

.I_KeyVis {
  display: flex;
  width: 70px;
  height: 70px;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  margin-bottom: 4px;
}

.I_straight {
  width: 34px;
  height: 34px;
}

/* Градиентный фон для нижней части экрана (только для 5,7,9,10) */
.A_BottomGradient {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 300px;
  transform: translateX(-50%);
  pointer-events: none;
  background: linear-gradient(
    180deg,
    rgba(174, 82, 231, 0) 0%,
    rgba(174, 82, 231, 0.32) 100%
  );
}
