/* шрифты */
@font-face {
  font-family: "Manrope";
  src: url("src/fonts/Manrope-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  text-align: center;
}
@font-face {
  font-family: "Manrope";
  src: url("src/fonts/Manrope-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  text-align: center;
}
@font-face {
  font-family: "Manrope";
  src: url("src/fonts/Manrope-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  text-align: center;
}
@font-face {
  font-family: "Inter";
  src: url("src/fonts/Inter18pt-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

/* СТИЛИ ТЕКСТА */
h1 {
  font-size: 26px;
  line-height: 130%;
  font-family: "Manrope";
  font-weight: extrabold;
}
h2 {
  font-size: 18px;
  line-height: 130%;
  font-family: "Manrope";
  font-weight: extrabold;
}

.option {
  font-size: 16px;
  line-height: 130%;
  font-family: "Manrope";
  font-weight: 600;
  color: var(--Text-white, #fff);
  text-align: center;
}

.M_LongCard .option {
  text-align: left;
}

.subtitle {
  font-size: 16px;
  line-height: 134%;
  font-family: "Manrope";
  font-weight: 500;
}

.option2 {
  font-size: 18px;
  line-height: 130%;
  font-family: "Manrope";
  font-weight: 700;
}

.text {
  font-size: 15px;
  line-height: 134%;
  font-family: "Manrope";
  font-weight: 500;
}

.button {
  font-size: 20px;
  line-height: 130%;
  font-family: "Manrope";
  font-weight: 800;
  color: var(--white);
}

.topPopUp {
  font-size: 14px;
  line-height: 134%;
  font-family: "Inter";
  font-weight: medium;
  color: var(--white);
  /* color: var(--text-2); */
}

.review {
  font-size: 15px;
  line-height: 116%;
  font-family: "Manrope";
  font-weight: medium;
}

.progress-bar-text {
  color: var(--white);
  font-family: "Manrope";
  text-align: left;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 134%; /* 21.44px */
}

.progress-bar-persent {
  color: var(--white);
  font-family: "Manrope";
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 134%; /* 18.76px */
  min-width: 40px;
}

.grey {
  color: var(--text-2);
}

@media (max-width: 559px) {
  h1 {
    font-size: 20px;
  }

  .A_Subtitle {
    font-size: 13px;
  }

  .button {
    font-size: 16px;
  }
  .subtitle {
    font-size: 13px;
  }

  .option {
    font-size: 14px;
  }
}

@media (max-width: 780px) {
  .progress-bar-text {
    font-size: 14px;
  }
  .bottom-space {
    bottom: 20px;
  }
}
